{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link href="{% static 'css/post_list.css' %}?{% now 'U' %}" rel="stylesheet">
<script src="{% static 'js/post_list.js' %}?{% now 'U' %}"></script>
<div class="container">

  <div class="main-center">
    <div class="form-inline pull-right">
      <div class="row">
        <div class="col-sm-7">
          <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="form-group post-search-form-group">
              {{form.keyword.label}}
              {{form.keyword}}
              <button class="btn btn-primary search-btn">Search</button>
            </div>
          </form>
        </div>

        <div class="col-sm-5">
            <button class="btn btn-primary" onclick="location.href='{% url "post-create" %}'">Create</button>
            <button class="btn btn-primary" onclick="location.href='{% url "csv-import" %}'">Upload</button>
            <button class="btn btn-primary" onclick="downloadCSV()">Download</button>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-dark list-table">
      <thead class="table-header">
        <tr>
          <th scope="col">Post Title</th>
          <th scope="col">Post Description</th>
          <th scope="col">Posted User</th>
          <th scope="col">Posted Date</th>
          <th scope="col">Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for post in page_obj %}
        <tr>
          <td>
            <a href="#" data-toggle="modal" data-target="#detailModal" onclick="goToDetail('{{ post.id }}')">
              {{post.title }}</a>
          </td>
          <td class="description">{{ post.description }}</td>
          <td>{{ post.user.name }}</td>
          <td>{{ post.created_at|date:"Y/m/d" }}</td>
          <td class="operation-btn">
            <button class="btn btn-primary btn-sm"
            onclick="location.href='{% url "post-update" post.id %}'">Edit</button>
            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletePostModal"
              onclick="showPostDeleteDialog('{{ post.id }}')">Delete</button>
          </td>
        </tr>
        {% endfor %}
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </tbody>
    </table>

    {% block detail %}{% include 'posts/post_detail.html' %}{% endblock %}
    {% block delete_post_dialog %}{% include 'posts/post_delete_dialog.html' %}{% endblock %}
  </div>
  </div>

  {% endblock %}